
 .adhithya{
        background-color:white;
        color:black;
        border:3px solid black;
        border-radius:30px;
        padding:3px;
        width:20%;
        text-align:center;
        font-size:18px;
        margin:1% 40%;
 }
