.arjun{
	font-family:"Comic Sans MS";
	background-color:#8D0000;
	color:white;
	border: 3px solid #00608D;
	border-radius:50px;
	width:20%;
	margin-left:10px;
	padding:10px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}