.arjun{
	font-family:"Comic Sans MS";
	background-color:#8D0000;
	color:white;
	border: 3px solid #00608D;
	border-radius:50px;
	width:200px;
	height:150;
	text-align:center;
	margin-left:10px;
	word-spacing: 2px;
}
